<!DOCTYPE html>
<html>
<head>
  <title>Enki</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
      <%= render 'layouts/header' %>
    <div class="container">
      <%= render_breadcrumbs %>
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class(type) %> alert-dismissable">
          <button type="button" class="close" data-dismess="alert" aria-hidden="true">&times;</button>
            <%= message %>
        </div>
      <% end %>
    </div>
  	 <%= yield %>
  </div>
    <%= render 'layouts/footer' %>
</body>
</html>
